<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a software engineer with experience building high-scale and resilient web applications. I specialize in Java-based microservices, but have worked in PHP, Python, and more recently, building single page applications with Javascript, React, and Redux.
        </p>
        <p>
            Originally from San Francisco, I spent 8 months traveling before settling down in Amsterdam with my girlfriend and 2 cats.
        </p>
        <p>
            I love learning, building software that's easy for humans to understand, and being part of a team working towards a common goal.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>Added and extended features to MediaWiki app which receives 200 million unique visitors per month.</li>
    			<li>Authored 6 RESTful Java services powering user data, internal CMS, forum products, and more.</li>
    			<li>Optimized high-traffic databases reducing query execution time from multiple seconds to a few ms</li>
    			<li>Ported existing Ember-based front-End web application to React/Redux. Maintained 95% test coverage and completed rewrite in 9 months compared to 18 months for original project.</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
